@import "./partials/bookList";
@import "./partials/addNewBook";
@import "./partials/contact";
@import "./utilities/variables";

// Global
body {
  margin: 0;
}

nav {
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100vw;
  background-color: $black;
  align-items: center;
  justify-content: space-between;

  a {
    font-family: $font-SSP;
    color: $light-grey;
    text-decoration: none;
    margin: 20px;
  }

  ul {
    display:flex;
    flex-direction: row;

    li {
      list-style: none;
      border-right: 1px $light-grey solid;
    }

    :last-child {
      border-right: none;
    }
  }
}