@import "../utilities/variables";

// Hover
#book-list-container li button:hover {
  background-color: $light-grey;
}

// General
#book-list {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 35px;
    font-weight: 600;
    color: $black;
  }

  #book-list-container {
    display: flex;
    flex-direction: column;
    gap: 1.5px;
    width: 90vw;
    padding: 0;
    border: 3px $black solid;
    border-radius: 15px;
    background-color: $dark-grey;

    li {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 15px;
      list-style: none;
      border-radius: 15px;
      background-color: $dark-yellow;

      div {
        display: flex;
        flex-direction: row;
      }

      p {
        font-weight: 400;
        color: #fff;
      }

      button {
        font-weight: 600;
        width: 100px;
        height: 40px;
        border: none;
        border-radius: 5px;
      }
    }
  }
}
